// MARGINS:
$section-margin: 20rem 0;

// PADDINGS:
$section-padding: 10rem 2rem;

// BORDERS:
$thin-border: 1px solid rgba(0, 0, 0, 0.3);

// COLORS:
$color-btn: rgb(33, 33, 33);

// SHADOWS:
$shadow-small: 0px 0px 30px 0px rgba(0,0,0,0.45);