
.hamburger{
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    &__wrapper{
        display: none;
        width: 6rem;
        height: 6rem;
        background-color: rgba(128, 128, 128, 0.5);
        position: fixed;
        top: 1rem;
        right: 2rem;
        border-radius: 50%;
        z-index: 1000;

        @media only screen and(max-width: 700px){
            display: inline-block;
        }

    }

    &__bar{
        width: 4rem;
        height: .35rem;
        background-color: #000000;
        position: absolute;
        transition: all .25s linear 0s;
    
        border-radius: 1rem;

        &--1{
            top: 0;
        }

        &--2{
            top: 50%;
            transform: translate(0,-50%);
        }

        &--3{
            top: 100%;
            transform: translate(0,-100%);
        }

    }

    /* &:hover .hamburger__bar{
        top: 50%;
        transform: translate(0,-50%);

        &--1{
            transform: rotate(-135deg);
        }

        &--2{
            opacity: 0;
        }

        &--3{
            transform: rotate(135deg);
        }

    } */

}




